.Projects{
    height: 100vh;
    padding-top: 5rem;
    width: 75rem;
    overflow: hidden;
    margin-left: 8rem;
}

.project-grid{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    overflow: hidden;
}

/* MOBILE */

.Projects-m{
    height: 100vh;
    padding-top: 5rem;
    margin-left: 2rem;
    width: 100vw;
    overflow: hidden;
}

.project-grid-m{
    margin: 2rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
}