.Projects{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, rgba(195, 20, 50, 0.25),rgba(195, 20, 50, 0));
    padding-left: 15rem;
    padding-top: 10rem;
    overflow: hidden;
}

.project-grid{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    width:75rem;
    height: 30rem;
    overflow: hidden;
}