.Services{
    height: 110vh;
    padding-top: 0rem;
    width: 75rem;
    align-self: center;
    margin-left:8rem;
    overflow: hidden;
}

.Card-grid{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}


/* MOBILE */

.Services-mobile{
    height: 80vh;
    padding-top:2rem ;
    width: 100vw;
    margin: 1rem 0;
    margin-left: 3rem;
    overflow: hidden;
}

.Card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}