*{
  margin: 0;
  align-content: center;
}

.App{
  height: 100%;
  background-color: #240B36;
  overflow: hidden;
}
.custom-scrollbar {
  height: 100vh;
  overflow-y: scroll;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #240B36;
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(255, 55, 115);
  border-radius: 12px;
}

.Home-comp{
  z-index: 1;
  position: absolute;
}